/Debug.win32
/cocos2d/cocos/2d/Debug.win32
/cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32
/cocos2d/external/Box2D/proj.win32/Debug.win32
/qteditor/Debug.win32
/qteditor/GeneratedFiles
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc
.*
*.user

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.suo
*.cachefile
/qteditor/qtpropertybrowser/build-buildlib-Desktop_Qt_5_4_1_MSVC2013_32bit-Debug
/qteditor/qtpropertybrowser/lib
/qteditor/qtpropertybrowser/lib
/qteditor/qtpropertybrowser/buildlib/release
/qteditor/build-qtpropertybrowser-Desktop_Qt_5_4_1_MSVC2013_32bit-Debug
/qteditor/qtpropertybrowser/buildlib
